.header__fondo {
    @include colorFondo($color-header);
}

.section__fondoEnseñanza {
    @include colorFondo($color-ensenanza);
}

.section__fondoAprendizaje {
    @include colorFondo($color-aprendizaje);
}

.section__fondoQuienesSomos {
    @extend .section__fondoEnseñanza;
}

.section__fondoContacto {
    @extend .section__fondoAprendizaje;
}

.footer__fondo {
    @include colorFondo($color-footer);
}

.section__fondoQuienesSomos--columnas {
    @include colorFondo($color-aprendizaje);
}

.header__navegacion {
    .header__navegacion--titulo {
        font-family: $fuente-titulo;
        padding-left: 10px;
        display: inline-flex;
        font-size: 5rem;
        margin: 0;
    }

    .navbar-nav { 
        font-family: $fuente-texto;

        .nav-link {
            color: black;
            font-size: 1.6rem;
        }
    }
}

.section__fuente {
    font-family: $fuente-texto;

    .section__fuente--titulo {
        font-weight: 800;
        font-size: 3.5rem;
    }

    .section__fuente--subtitulo {
        font-size: 3rem;
    }

    .section__fuente--texto {
        font-size: 1.8rem;
    }
}

.footer__fuente {
    .footer__fuente--weight {
        font-weight: unset;
    }
}

.img--index {
    width: 750px;
    height: auto;
    max-width: 95%;
    max-height: 95%;
}

.img--paginas {
    @extend .img--index;
    width: 850px;
    max-width: 100%;
}

.img--enseñanza-equipo {
    width: 150px;
    height: 150px;
}

.img--aprendizaje-carrusel {
    width: 120px;
    height: 130px;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

@media (min-width: 1200px) {
    .section__tamañoColumnas {
        max-width: 100% * 0.4;
    }
}