$primary: #804000;
$body-color: white;
$spacer: 2rem;

@import "../node_modules/bootstrap/scss/bootstrap";

// Color #804000

@mixin fondo($url) {
    background: url($url) no-repeat center;
    background-size: cover;
}

.contacto-iconos {
    width: 24px;
    height: 24px;

    &.special {
        width: 12px;
        height: 12px;
    }
}

.card {
    background-color: $primary;
}

.fondo-e {
    @include fondo("../img/fondo-index-e.jpg");
}

.fondo-a {
    @include fondo("../img/fondo-index-a.jpg");
}

.card-subtitle {
    font-weight: bold;
}

.nombre-sitio {
    font-family: "Playball", cursive;
    font-size: 5rem;
    margin-bottom: 0;
}

.titulo {
    font-weight: bold;
    font-size: 3.5rem;
}

.nav-link, a {
    color: $white;
}

.bg-transparent {
    border: none;
}

.slide-in-right {
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tracking-in-expand-fwd-top {
	animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

p {
    text-align: justify;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    margin-bottom: 0;
}

@include media-breakpoint-up(md) {
    .contacto-iconos {
        width: 36px;
        height: 36px;

        &.special {
            width: 24px;
            height: 24px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .contacto-iconos {
        width: 48px;
        height: 48px;

        &.special {
            width: 36px;
            height: 36px;
        }
    }
}


@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
  
@keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

  